# Bỏ qua file cấu hình môi trường
.env
.env.local
.env.*.local

# Bỏ qua thư mục `node_modules` (thư viện cài từ npm)
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Bỏ qua các thư mục build và log
dist/
build/
logs/
*.log
out/
*.tsbuildinfo

# Bỏ qua file lock của package manager
package-lock.json
yarn.lock
pnpm-lock.yaml

# Bỏ qua cache của hệ điều hành & trình soạn thảo
.DS_Store
Thumbs.db
.vscode/
.idea/